<a href="https://colab.research.google.com/github/ediazb0922-svg/Base_Datos_Empresa/blob/main/Lab_9_1069749073.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from datetime import datetime

# Crear DataFrame
data = {
    "Nombre": ["Juan", "Ana", "Pedro", "María", "Luis", "Ana"],
    "Edad": [28, 34, None, 45, 38, 34],
    "Salario": ["3000", "4000", "cinco mil", "4500", "4000", "5000"],
    "Fecha Ingreso": ["2021-01-15", "2020/03/12", "2022-07-01", "2021/12/01", "2021-05-20", "2020-03-12"]
}
df = pd.DataFrame(data)

# 1. Contar valores faltantes
print("Valores faltantes por columna:")
print(df.isnull().sum())

# 2. Verificar si Salario es numérico
def es_numero(x):
    try:
        float(x)
        return True
    except:
        return False

df["Salario_Num"] = df["Salario"].apply(es_numero)
print("\n¿Salario numérico?:")
print(df[~df["Salario_Num"]])

# 3. Estandarizar formato de fecha
df["Fecha_Ingreso_Estandar"] = pd.to_datetime(df["Fecha Ingreso"], errors='coerce').dt.strftime('%Y-%m-%d')
print("\nFechas estandarizadas:")
print(df[["Fecha Ingreso", "Fecha_Ingreso_Estandar"]])

Valores faltantes por columna:
Nombre           0
Edad             1
Salario          0
Fecha Ingreso    0
dtype: int64

¿Salario numérico?:
  Nombre  Edad    Salario Fecha Ingreso  Salario_Num
2  Pedro   NaN  cinco mil    2022-07-01        False

Fechas estandarizadas:
  Fecha Ingreso Fecha_Ingreso_Estandar
0    2021-01-15             2021-01-15
1    2020/03/12                    NaN
2    2022-07-01             2022-07-01
3    2021/12/01                    NaN
4    2021-05-20             2021-05-20
5    2020-03-12             2020-03-12

In [ ]:
data2 = {
    "Nombre": ["Juan", "Ana", "Pedro", "María", "Luis", "Carla"],
    "Edad": [28, None, 40, 45, 38, 34],
    "Salario": ["3000", "4000", "4500", "cuatro mil", "5000", "4000"],
    "Cargo": ["Analista", "Gerente", "Desarrollador", "Gerente", "Analista", None],
    "FechaIngreso": ["2021-01-15", "2020/03/12", "2022-07-01", "2021/12/01", None, "2020-03-12"]
}
df2 = pd.DataFrame(data2)

# 1. Valores faltantes
print("Faltantes:")
print(df2.isnull().sum())

# 2. Salarios válidos
df2["Salario Valido"] = df2["Salario"].apply(es_numero)
print("\nSalarios no válidos:")
print(df2[~df2["Salario Valido"]])

# 3. Fecha estandarizada
df2["FechaIngreso_Estandar"] = pd.to_datetime(df2["FechaIngreso"], errors='coerce').dt.strftime('%Y-%m-%d')

# 4. Cargos nulos
print("\nCargos faltantes:")
print(df2[df2["Cargo"].isnull()])

Faltantes:
Nombre          0
Edad            1
Salario         0
Cargo           1
FechaIngreso    1
dtype: int64

Salarios no válidos:
  Nombre  Edad     Salario    Cargo FechaIngreso  Salario Valido
3  María  45.0  cuatro mil  Gerente   2021/12/01           False

Cargos faltantes:
  Nombre  Edad Salario Cargo FechaIngreso  Salario Valido  \
5  Carla  34.0    4000  None   2020-03-12            True

  FechaIngreso_Estandar
5            2020-03-12

In [ ]:
productos = {
    "Producto": ["Producto A", "Producto B", "Producto C", "Producto D"],
    "Precio": [150, -25, 100, None]
}
df_prod = pd.DataFrame(productos)

# Mostrar productos con precios inválidos
precios_invalidos = df_prod[(df_prod["Precio"].isnull()) | (df_prod["Precio"] < 0)]
print("Productos con precios inválidos:")
print(precios_invalidos)

Productos con precios inválidos:
     Producto  Precio
1  Producto B   -25.0
3  Producto D     NaN

In [ ]:
clientes = {
    "ID Cliente": [1, 2, 3, 2, 4],
    "Nombre": ["Ana", "Luis", "María", "Luis", "Carlos"]
}
df_cli = pd.DataFrame(clientes)

# Ver duplicados
duplicados = df_cli[df_cli.duplicated(subset="ID Cliente", keep=False)]
print("Clientes duplicados:")
print(duplicados)

Clientes duplicados:
   ID Cliente Nombre
1           2   Luis
3           2   Luis

In [ ]:
from cryptography.fernet import Fernet

# 1. Generar clave
clave = Fernet.generate_key()
fernet = Fernet(clave)

# 2. Texto a encriptar
tarjeta = "1234-5678-9101-1121".encode()

# 3. Encriptar
encriptado = fernet.encrypt(tarjeta)

# 4. Desencriptar
desencriptado = fernet.decrypt(encriptado).decode()

print("Encriptado:", encriptado)
print("Desencriptado:", desencriptado)

Encriptado: b'gAAAAABohZLJ8lrpT3S6YmRFA5JiC0ztFE41iGabL1Hs-WGmRw69DnX6cWxFaRS6KAZnMpV8JyQWapvo47nxigMNd3CAXDaUBX7HsW6tG_tbP7f7LCv0XsE='
Desencriptado: 1234-5678-9101-1121