<a href="https://colab.research.google.com/github/ediazb0922-svg/Base_Datos_Empresa/blob/main/Lab_10_1069749073ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

pacientes = {
    "Nombre": ["Carlos", "Ana", "Luis", "Pedro", "María", None],
    "Edad": [34, 29, None, 45, 25, 33],
    "Fecha Ingreso": ["2021-01-15", "2020/03/12", "2022-07-01", "2021/12/01", "2021-05-20", "2020-03-12"],
    "Resultado Prueba": ["Positivo", "Negativo", "Positivo", "Positivo", "Negativo", "Negativo"]
}

df = pd.DataFrame(pacientes)

print("Valores nulos:")
print(df.isnull().sum())

df["Fecha Ingreso"] = pd.to_datetime(df["Fecha Ingreso"], errors="coerce").dt.strftime('%Y-%m-%d')

df["Edad"].fillna(df["Edad"].mean(), inplace=True)

df["Nombre"].fillna("Sin nombre", inplace=True)

print("\nDatos limpios:")
print(df)

Valores nulos:
Nombre              1
Edad                1
Fecha Ingreso       0
Resultado Prueba    0
dtype: int64

Datos limpios:
       Nombre  Edad Fecha Ingreso Resultado Prueba
0      Carlos  34.0    2021-01-15         Positivo
1         Ana  29.0           NaN         Negativo
2        Luis  33.2    2022-07-01         Positivo
3       Pedro  45.0           NaN         Positivo
4       María  25.0    2021-05-20         Negativo
5  Sin nombre  33.0    2020-03-12         Negativo

/tmp/ipython-input-1-1833085548.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Edad"].fillna(df["Edad"].mean(), inplace=True)
/tmp/ipython-input-1-1833085548.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Nombre"].fillna("Sin nombre", inplace=True)

In [2]:

data = {
    "Cliente ID": [1, 2, 3, 4, 5],
    "Producto": ["A", "B", "C", "D", "E"],
    "Cantidad": [10, 20, None, 5, 15],
    "Precio": ["100", "200$", "300", "cuatrocientos", "500"],
    "Fecha Transacción": ["2023-01-15", "2023/02/20", "2023-03-25", "2023/04/30", "2023-05-10"]
}
df = pd.DataFrame(data)

def limpiar_precio(x):
    try:
        return float(str(x).replace("$", "").replace(",", ""))
    except:
        return None

df["Precio"] = df["Precio"].apply(limpiar_precio)

# la media
df["Precio"].fillna(df["Precio"].mean(), inplace=True)

# cantidad nula con 0 o media
df["Cantidad"].fillna(df["Cantidad"].mean(), inplace=True)

#  fechas
df["Fecha Transacción"] = pd.to_datetime(df["Fecha Transacción"], errors='coerce').dt.strftime('%Y-%m-%d')

print(df)

   Cliente ID Producto  Cantidad  Precio Fecha Transacción
0           1        A      10.0   100.0        2023-01-15
1           2        B      20.0   200.0               NaN
2           3        C      12.5   300.0        2023-03-25
3           4        D       5.0   275.0               NaN
4           5        E      15.0   500.0        2023-05-10

/tmp/ipython-input-2-4246057606.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Precio"].fillna(df["Precio"].mean(), inplace=True)
/tmp/ipython-input-2-4246057606.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Cantidad"].fillna(df["Cantidad"].mean(), inplace=True)

In [3]:
clientes = {
    "Nombre": ["Juan", "Maria", "Pedro", "Ana", "Luisa", "Carlos", "Juan"],
    "Edad": [25, 30, None, 29, 28, 200, 25],
    "Email": ["juan@mail.com", "maria@mail.com", "pedro@mail.com", "ana@mail.com", "luisa@mail.com", "carlos@mail.com", "juan@mail.com"],
    "Pais": ["colombia", "Colombia", "Mexico", "Argentina", "Colombia", "Brazil", "colombia"],
    "Genero": ["M", "F", "H", "F", "Femenino", "M", "M"],
    "Visitas": [5, 7, 6, 4, 8, 2, 5]
}
df = pd.DataFrame(clientes)

df["Edad"].fillna(df["Edad"].mean(), inplace=True)

df.drop_duplicates(inplace=True)

df["Genero"] = df["Genero"].replace({
    "M": "Masculino",
    "H": "Masculino",
    "F": "Femenino",
    "femenino": "Femenino"
})

df["Pais"] = df["Pais"].str.capitalize()

df = df[df["Edad"] <= 120]

print(df)

  Nombre       Edad           Email       Pais     Genero  Visitas
0   Juan  25.000000   juan@mail.com   Colombia  Masculino        5
1  Maria  30.000000  maria@mail.com   Colombia   Femenino        7
2  Pedro  56.166667  pedro@mail.com     Mexico  Masculino        6
3    Ana  29.000000    ana@mail.com  Argentina   Femenino        4
4  Luisa  28.000000  luisa@mail.com   Colombia   Femenino        8

/tmp/ipython-input-3-2209311042.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Edad"].fillna(df["Edad"].mean(), inplace=True)